@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

body {
  margin: 0;
  padding: 60px;
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
  overflow: scroll;
}

.gray {
  color: #918E9B;
}

.bullet-space {
  margin-left: 5px;
  margin-right: 5px;
}

.bold {
  font-weight: 600;
}

.App {
  width: 550px;
  background-color: white;
  margin: auto;
}

nav {
  display: flex;
  justify-content: left;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.container {
  padding-left: 36px;
  padding-bottom: 30px;
}

.hero--img {
  width: 395.91px;
  margin: 30px 41px;
}

.hero--title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 39.6px;
}

.hero--details {
  margin-top: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: #222222;
  width: 320px;
  height: 56px;
}

.card {
  width: 100%;
  font-size: 12px;
}

.card--image {
  height: 235px;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star_img {
  height: 14px;
  margin-right: 5px;
}

.card--rating_location_count {
  margin-right: 5px;
}
